* {
    font-family: "Verdana", serif;
}

h1,
h2 {
    text-align: center;
    text-decoration: underline;
    color: coral;
    background-color: #ffdab9;
    margin: 8px;
    padding: 8px;
    border: 4px dashed black; 
}

a {
    font-weight: 700;
    font-size: 20px;
}

img {
    display: block;
    margin: auto;
}

.recipe {
    height: 400;
    width: 300;
}


