* {
    font-family: "Verdana", serif;
}

h1,
h2 {
    text-align: center;
    text-decoration: underline;
}

a {
    font-weight: 700;
    font-size: 20px;
}

img {
    display: block;
    margin: auto;
    width: 50%;
}
